@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";
/* line 3, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
#el {
  background-color: #490D40;
  background-image: url(/assets/el2.jpg);
  background-size: cover;
  height: 850px;
  margin-top: 0px;
}

/* line 12, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
img {
  margin-bottom: 17px;
}

/* line 15, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
body {
  position: relative;
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

/* line 22, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

/* line 29, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

/* line 37, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.navbar {
  margin-bottom: 0;
  background-color: #e6e6ff;
  opacity: 0.80;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

/* line 50, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.navbar nav li a:hover, .navbar-nav li.active a {
  color: white !important;
  background-color: !important;
}

/* line 55, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
#about {
  padding-top: 50px;
  background-color: #e6e6ff;
  padding: 50px 60px;
}

/* line 63, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
#skills {
  padding: 50px 60px;
  padding-top: 50px;
  background-color: #f6f6f6;
}

/* line 69, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
#projects {
  padding: 50px 60px 0px 50px;
  background-color: #e6e6ff;
}

/* line 77, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
#contact {
  padding: 50px 60px 60px 80px;
  background-color: #f6f6f6;
}

/* line 83, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.box {
  background-color: white;
  padding: 100px 20px 20px 20px;
}

/* line 89, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.gitbox {
  background-color: #818181;
  opacity: 0.95;
  padding: 40px 0px 40px 0px;
}

/* line 104, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.icon1 {
  color: white;
  padding: 5px 30px 20px 105px;
  opacity: 0.5;
}

/* line 122, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.icon2 {
  color: white;
  margin: 0px 0px 0px 0px;
  padding: 20px 30px 5px 100px;
  opacity: 0.5;
}

/* line 132, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.gitbox i:hover {
  animation: fademein 0.5s;
}

/* line 137, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.fade-in {
  animation: fademein 1s;
}

@keyframes fademein {
  from {
    opacity: 0.5;
    filter: blur(0px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
/* line 149, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.sentence {
  margin-left: 20px;
}

/* line 153, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

/* line 158, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

/* line 164, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.icon {
  max-width: 5em;
}

/* line 169, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.icon path {
  fill: #818181;
}

/* line 173, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.slideanim {
  visibility: hidden;
}

/* line 174, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  /* line 203, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  /* line 207, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  /* line 213, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/welcome.scss */
  .logo {
    font-size: 150px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

