/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.


 
 */
/* line 2, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
#el {
  background-color: #490D40;
  background-size: cover;
  height: 850px;
  margin-top: 0px;
}

/* line 9, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
img {
  margin-bottom: 17px;
}

/* line 12, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
body {
  position: relative;
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

/* line 19, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

/* line 26, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

/* line 34, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.navbar {
  margin-bottom: 0;
  background-color: #e6e6ff;
  opacity: 0.80;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

/* line 47, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.navbar nav li a:hover, .navbar-nav li.active a {
  color: white !important;
  background-color: !important;
}

/* line 52, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
#about {
  padding-top: 50px;
  background-color: #e6e6ff;
  padding: 50px 60px;
}

/* line 60, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
#skills {
  padding: 50px 60px;
  padding-top: 50px;
  background-color: #f6f6f6;
}

/* line 66, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
#projects {
  padding: 50px 60px 0px 50px;
  background-color: #e6e6ff;
}

/* line 74, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
#contact {
  padding: 50px 60px 60px 80px;
  background-color: #f6f6f6;
}

/* line 80, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.box {
  background-color: white;
  padding: 0 20px 20px 20px;
}

/* line 86, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.gitbox {
  background-color: #818181;
  opacity: 0.95;
}

/* line 101, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.icon1 {
  color: white;
  padding: 5px 30px 20px 105px;
  opacity: 0.5;
}

/* line 119, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.icon2 {
  color: white;
  margin: 0px 0px 0px 0px;
  padding: 20px 30px 5px 100px;
  opacity: 0.5;
}

/* line 129, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.gitbox i:hover {
  -webkit-animation: fademein 0.5s;
          animation: fademein 0.5s;
}

/* line 134, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.fade-in {
  -webkit-animation: fademein 1s;
          animation: fademein 1s;
}

@-webkit-keyframes fademein {
  from {
    opacity: 0.5;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  to {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes fademein {
  from {
    opacity: 0.5;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  to {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
/* line 146, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.sentence {
  margin-left: 20px;
}

/* line 150, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

/* line 155, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

/* line 161, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.icon {
  max-width: 5em;
}

/* line 166, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.icon path {
  fill: #818181;
}

/* line 170, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.slideanim {
  visibility: hidden;
}

/* line 171, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  /* line 200, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  /* line 204, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  /* line 210, /Users/elouisepollock/git/elouise3/elouise3/app/assets/stylesheets/_welcome.scss */
  .logo {
    font-size: 150px;
  }
}
